.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
}

.toolbar {
  position: absolute;
  top: 0;
  color: #fff;
  width: 480px;
}

.toolbar > p {
  margin: 0;
}

.container > canvas {
  background: #fff;
}
